.cabecalho {
    background-color: rgba(136, 127, 255, 0.295);
    color: black;
    display: flex;
    padding: 24px 0;
}

.section1 {
    background-color: azure;
    padding: 100px;
}

.section2 {
    background-color: rgba(250, 235, 215, 0.342);
    padding: 100px;
}
.imagem .section2{
    width: 5%;
}